@model JesNm.Web.Models.User.CreateUserViewModel
@using Abp.Web.Mvc.Extensions

@{
    //ViewBag.ActiveMenu = "Home"; //The menu item will be active for this page.
    Layout = "~/Views/Shared/_MainDashboard.cshtml";
}


<div class="container">
    <div id="LoginArea" class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <form class="form-horizontal" action="@(Url.Action("Create","User"))" method="POST">
                    <fieldset>
                        <legend>@L("Name")</legend>
                                               

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" name="Name" value="@Model.Name" placeholder="@L("Name")" required maxlength="@JesNm.Users.User.MaxNameLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" name="Surname" value="@Model.Surname" placeholder="@L("Surname")" required maxlength="@JesNm.Users.User.MaxSurnameLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="email" class="form-control" name="EmailAddress" value="@Model.EmailAddress" placeholder="@L("EmailAddress")" required maxlength="@JesNm.Users.User.MaxEmailAddressLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="text" class="form-control" name="UserName" value="@Model.UserName" placeholder="@L("UserName")" required maxlength="@JesNm.Users.User.MaxUserNameLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <input type="password" class="form-control" name="Password" placeholder="@L("Password")" required maxlength="@JesNm.Users.User.MaxPlainPasswordLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="submit" id="RegisterButton" class="btn btn-primary"><i class="fa fa-sign-in"></i> @L("Create User")</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


