
@model List<JesNm.Web.Models.Jes.GetChapterViewModel>

@foreach (var item in Model)
{
    <div>@item.ChapterName</div>
    
}

<br />
<hr />

<select name="listbox" id="listbox">
    @foreach (var item in Model)
    {
        <option value="@item.Id">
            @item.ChapterName
        </option>
    }
</select>

<br />
<hr />

@for (int i = 0; i < Model.Count; i++)
{
    @Html.LabelFor(m => m[i].ChapterName)
   // @Html.CheckBoxFor(m => m[i].ChapterName == true)
    @Html.HiddenFor(m => m[i].Id)
  
}