@{
    ViewBag.ActiveMenu = "Home"; //The menu item will be active for this page.
}



<h1>@L("WellcomeMessage")</h1>
<div class="row">
    <div class="col-md-12">
        @if (IsGranted("Administration.UserManagement.CreateUser"))
        {
            <a class="btn btn-success" href="@Url.Action("Create", "User")"><i class="fa fa-sign-in"></i> @L("Create User")</a>
            <br /><hr />
             <a class="btn btn-success" href="@Url.Action("CreateRole", "User")"><i class="fa fa-sign-in"></i> @L("Create Role")</a>
        }
    </div>

</div>